.product {
  display: flex; /* makes the component responsive */
  flex-direction: column;
  max-height: 400px;
  min-width: 100px;
  align-items: center;
  margin: 10px;
  padding: 20px;
  width: 100%;
  background-color: white;
  z-index: 1;
  justify-content: flex-end;
}

.product_info {
  height: 120px;
}

.product_price {
  margin-top: 5px;
}

.product_img {
  display: flex;
  max-height: 200px;
  object-fit: contain;
  width: 100%;
  margin: 20px 0;
}

.product > button {
  margin-top: 10px;
  background: #f0c14b;
  border: 1px solid;
  color: #111;
  border-color: #a88734 #9c7e31 #846a29;
}

.product_rating {
  display: flex;
}
